#==============================================================================
# CODEOWNERS
#------------------------------------------------------------------------------
# This file outlines the owners of the various code sections within this
# project
#==============================================================================

#------------------------------------------------------------------------------
# Global Owners
#------------------------------------------------------------------------------

*           @bitwizeshift

#------------------------------------------------------------------------------
# Subsystem Owners
#------------------------------------------------------------------------------

# ...

#------------------------------------------------------------------------------
# File Owners
#------------------------------------------------------------------------------

# ...